<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://cxf.apache.org/jaxws 
    http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/jaxrs
    http://cxf.apache.org/schemas/jaxrs.xsd">
    
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
	<bean id="restSample" class="com.topview.www.service.RESTSampleSource"/>
    
    <!-- 这里的地址很重要，客户端需要通过这个地址来访问WebService 记得是上下文加上这个webservice的url -->
	<jaxrs:server id="restServiceContainer" address="/rest">

		<jaxrs:providers>
            <bean class="com.topview.www.service.ISSJacksonJaxbJsonProvider">
                <constructor-arg type="com.fasterxml.jackson.databind.ObjectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion" value="NON_NULL" />
                    </bean>
                </constructor-arg>
            </bean>
        </jaxrs:providers>


	    <jaxrs:serviceBeans>
	        <ref bean="restSample" />
	    </jaxrs:serviceBeans>
	    <jaxrs:extensionMappings>
	        <entry key="json" value="application/json" />
	        <entry key="xml" value="application/xml" />
	    </jaxrs:extensionMappings>
	    <jaxrs:languageMappings>
	           <entry key="en" value="en-gb"/>  
	    </jaxrs:languageMappings>
	</jaxrs:server>
    
</beans>